/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Media and Large Files (Recursive)
**/*.mp4
**/*.mov
**/*.avi
**/*.wmv
**/*.m4v
**/*.zip
**/*.rar
**/*.7z
**/*.iso
**/*.PNG
**/*.JPG
**/*.jpeg
**/*.gif

/resources/public/
/storage/logs/
/public/imagens/parceirosvideos/
/public/imagens/canais/invisalign/
